PORT=3001
RATE_LIMIT=1000
GOOGLE_CLIENT_ID="your_google_client_id"
MONGO_URI="mongodb://localhost:27017/chatbot-hcmus"
MICROSOFT_CLIENT_ID="your_microsoft_client_id"
CORS_ORIGINS="http://localhost:8080,http://localhost,http://localhost:3000,http://127.0.0.1:8080"

#==============Secret auth
JWT_ACCESS_SECRET="your_jwt_access_secret_key"
JWT_REFRESH_SECRET="your_jwt_refresh_secret_key"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

#=============Cache============
REDIS_HOST=localhost
REDIS_PORT=6379

#================DB==========
MONGO_ATLAS_URI="mongodb+srv://user:pass@cluster.mongodb.net/chatbot-hcmus"
SUPABASE_URL="https://your-project.supabase.co"
SUPABASE_PUBLISHABLE_KEY="your_supabase_publishable_key"

#===========S3 (Cloudflare R2)============
R2_BUCKET_NAME="your_bucket_name"
R2_ACCESS_KEY_ID="your_r2_access_key_id"
R2_SECRET_ACCESS_KEY="your_r2_secret_access_key"
R2_ACCOUNT_ID="your_r2_account_id"
R2_PUBLIC_URL="https://your_r2_public_url.r2.dev"
R2_CUSTOMER_ID="your_r2_customer_id"
R2_API_KEY="your_r2_api_key"
R2_WEBHOOK_="your_r2_webhook_secret"
